__pycache__/
*.py[cod]
*$py.class
Session.vim
ckpt/

data/
.eggs/
build/
svox2.egg-info/

kaolin/

slurm-*.out

opt/configs/hpc_confs/
opt/configs/auto_tune/

imgs/

tb.sh

*.npy

.ipynb_checkpoints/

*.sh

blender/

zip_temp/
paper/

supp_code/

.vscode

temp/

_configs/